
h1 {
    font-weight: 900;
    color : #FFFFFF;
    font-size: 60px;
    font-family: 'PT Serif', serif;
}

h1 {
    margin-top: 0px;
    background-color : #990011FF;
    height : 80px;
}

h2 {
    font-weight: 900;
    color : #990011FF
}

html, body {
    background-color: #990011FF;
}

.page {
    width: 1080px;
    background-color: #FFFFFF;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}


.description-right {
    padding-left: 110px;
}

.description-left {
    padding-right: 2000px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 14px;
}

.vis-wrapper{
    width: 100%;
    height: 300px;
    background-color: #FFFFFF;
}

.title_text {
    color : #ffffff
}

.outer {
    display: flex;
    flex-wrap: wrap;
    justify-content : space-evenly;
}

.description-bottom {
    padding-top : 40px;
}

.description-bottom2 {
    padding-top : 65px;
}

.description-bottom3 {
    padding-top : 40px;
}

.description-right2{
    padding-left : 90px;
}

p {
    max-width: 50ch;
}

.Africa_text {
    color : #DAA03DFF
}

.Americas_text {
    color : #2BAE66FF
}

.Asia_text {
    color : #F95700FF
}

.Europe_text {
    color : #7F00FF
}

.Oceania_text {
    color : #00B1D2FF
}

.Male_text {
    color : #00239CFF

}

.Female_text {
    color :#CE4A7EFF
}